* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
$color : #202027 ;


.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

html {
    scroll-behavior: smooth;
}

button{
    border: none;
}

.header {
    background-image: url(./img/kryt.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


    &__main {
        padding-top: 196px;
        display: flex;
        gap: 24px;
        flex-direction: column;

    }

    &__but {
        width: 247px;
        padding: 16px 28px;
        background-color: $color;
        color: white;
        border-radius: 60px;
        font-weight: 600;
        font-size: 24px;
        line-height: 142%;
        letter-spacing: 0%;
        text-align: center;

    }

    &__zag {
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0px;
        color: $color;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        vertical-align: middle;
        max-width: 720px;
        color: $color;
    }

    &__bold {

        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color: $color;
    }

    &__but:hover {
        background-color: white;
        color: black;
        transition: all 1.5s;
    }


}

.about {
    background-color: #202027;
    padding-bottom: 96px;
    padding-top: 94px;

    



    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    &__zag {
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0px;
        color: white;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color: white;
    }

    &__opis {
        display: flex;
        gap: 24px;
        flex-direction: column;
        position: relative;
    }

    &__game-nuumber {
        padding: 8px 16px 10px;
        background-color: #F7F7F7;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        letter-spacing: 0px;
        border-radius: 53px;
        display: inline-block;
        margin-bottom: 16px;
        color: $color;
    }

    &__game-name {
        font-weight: 700;
        font-style: Bold;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #202027;
    }

    &__item {
        background-color: #FFFFFF;
        border-radius: 30px;
        z-index: 1;
        
    }

    &__game {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: start;
        gap: 32px;
        position: relative;
    }

    &__text-box {
        padding-left: 32px;
        padding-top: 32px;
        padding-bottom: 36px;
    }

    &__img {
        max-width: 100%;
    }


    &__item:hover {
        transform: scale(1.1);
        transition: all 1.5s;
    }

    &__game::before {
        content: url(./img/Star\ 1.svg);
        position: absolute;
        top: -250px;
        right: -160px;
        z-index: 0;
    }

    &__game::after {
        content: url(./img/Star\ 12.svg);
        position: absolute;
        z-index: 0;
        left: -80px;
        top: 46%;
        z-index: 0;
    }

    &__opis::before {
        content: url(./img/Star\ 11.svg);
        position: absolute;
        z-index: 0;
        left: -94px;
        top: 389%;
    }
}

.order1 {
    align-self: flex-end;
}

.big {
    grid-column: span 4;


}

.small {
    grid-column: span 4;

}


.mini-game {
    background-color: #202027;
    padding-bottom: 144px;

    &__zag {
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #F7F7F7;
        margin-bottom: 72px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        position: relative;
    }

    &__item {
        background-color: #FFFFFF;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;

    }

    &__text-box {
        flex-grow: 600px;
        padding-left: 48px;
        flex-grow: 1;
        padding-top: 48px;
    }

    &__img {
        flex-grow: 600px;

    }

    &__btn {
        width: 247px;
        padding: 16px 28px;
        background-color: $color;
        color: white;
        border-radius: 60px;
        font-weight: 600;
        font-size: 24px;
        line-height: 142%;
        letter-spacing: 0%;
        text-align: center;
    }

    &__name {
        font-weight: 700;
        font-style: Bold;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0px;
        margin-bottom: 24px;
        color: $color;
    }

    &__opis {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        margin-bottom: 36px;
        width: 457px;
        color: $color;
    }

    &__btn:hover {
        background-color: white;
        color: black;
        transition: all 1.5s;
    }

    &__wrapper::after {
        content: url(./img/Star\ 6.svg);
        position: absolute;
        left: 100%;
        top: -67px;
    }

    &__wrapper::before {
        content: url(./img/Star\ 7.svg);
        position: absolute;
        left: 97%;
        top: -100px;
    }



}

.footer {
    background-color: #BDED35;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    position: relative;
}

.element::after {
    content: url(./img/Star\ 8.svg);
    position: absolute;
    bottom: -50px;
    right: -70px;
}

.element::before {
    content: url(./img/Star\ 10.svg);
    position: absolute;
    bottom: -58px;
    right: 29px;
}

button:hover {
    border: none;
}

@import '__planshet';

@media (max-width: 800px) {
    .center {
        padding-left: calc(50% - 172px);
        padding-right: calc(50% - 172px);
    }

    .about {
        display: none;
    }

    .mini-game {
        padding-bottom: 49px;

        &__zag {
            font-size: 40px;
            padding-top: 49px;
            margin-bottom: 48px;
        }

        &__item {
            flex-direction: column;
            padding-bottom: 32px;

        }


        &__text-box {
            order: 1;
            padding-top: 29px;
            padding-bottom: 0;
        }

        &__img {
            order: 0;
            width: 100%;
        }

        &__name {
            font-size: 32px;
            margin-bottom: 16px;
            width: 200px;
        }

        &__opis {
            font-size: 16px;
            margin-bottom: 32px;
            line-height: 24px;
            width: 275px;
        }

        &__btn {
            width: 285px;
            font-size: 16px;
            font-weight: 600;
            font-size: 16px;
            line-height: 142%;
            letter-spacing: 0%;
            text-align: center;

        }



        &__wrapper::after {
            content: none;
            display: none;
        }

        &__wrapper::before {
            content: none;
            display: none;
        }
    }

    .header {
        background-image: url(./img/header_fon_mob.svg);
        height: 700px;
        position: relative;

        &__zag {
            font-size: 40px;
            text-align: center;
        }

        &__text {
            font-size: 16px;
            text-align: center;
            position: relative;
            line-height: 100%;
        }

        &__bold {
            font-size: 16px;
        }

        &__main {
            padding-top: 118px;
            align-items: center;
            position: relative;
        }

        &__but {
            font-size: 16px;
            position: relative;
            width: 285px;
        }

        &__footer{
            background-color: #BDED35;
            width: 100%;
            height: 52px;
            margin-top: 158px;
        }


        &__main::before {
            content: url(./img/Star\ 5.svg);
            position: relative;
            top: 430px;
            right: -80px;
        }

        &__but::before {
            content: url(./img/Star\ 4.svg);
            position: absolute;
            top: 90px;
            right: -15px;
        }

        &__but::after {
            position: absolute;
            content: url(./img/Star\ 3.svg);
            top: -420px;
            left: 10px;
        }

        &__text::before {
            content: url(./img/Star\ 2.svg);
            top: -265px;
            left: 10px;
            position: absolute;
        }

    }

    .header::after {
        content: url(./img/big_star.svg);
        top: 0;
        right: 0;
        position: absolute;
    }



    .footer {
        font-size: 16px;
        height: 100px;
    }

    .element::after {
        content: none;
        display: none;

    }

    .element::before {
        content: none;
        display: none;
    }

}